<div>
    <main>
        <div class="row g-5 mx-auto" style="max-width: 980px;">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-primary">Premium</span>
                <span class="badge bg-success rounded-pill">&#10004;</span>
                </h4>
                <ul class="list-group mb-3">
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                    <h6 class="my-0">Boards</h6>
                    <small class="text-muted">Unlimited</small>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-sm">
                    <div>
                    <h6 class="my-0">Cards</h6>
                    <small class="text-muted">Unlimited</small>
                    </div>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total</span>
                    <strong>&#8369; 1000</strong>
                </li>
                </ul>

            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Billing address</h4>



                    <%= form_with url: details_path, class:"needs-validation", html: { novalidate: true }, :method => :post do |f| %>

                        <%= f.hidden_field :payment_intent_id, value: @payment_intent['data']['id'] %>
                        <%= f.hidden_field :client_key, value: @payment_intent['data']['client_key'] %>
                        <div class="row g-3">
                            <div class="col-sm-6">
                                <%= f.label :full_name, class:"form-label" %>
                                <%= f.text_field :name, class:"form-control bg-white", :required => true %>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Valid Name is required.
                                </div>
                            </div>

                            <div class="col-md-6">
                                <%= f.label :phone, class:"form-label"  %>
                                <%= f.number_field :phone, class:"form-control bg-white", :required => true%>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>


                            <div class="col-12">
                                <%= f.label :email, class:"form-label"  %>
                                <%= f.text_field :email, class:"form-control bg-white", placeholder: "you@example.com",  :required => true %>
                                <div class="valid-feedback">
                                Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter a valid email address.
                                </div>
                            </div>

                            <div class="col-12">
                                <%= f.label :address_1, class:"form-label"  %>
                                <%= f.text_field :line1, class:"form-control bg-white", placeholder: "1234 Main St",  :required => true %>
                                <div class="valid-feedback">
                                Looks good!
                                </div>
                            <div class="invalid-feedback">
                                Please enter your billing address.
                            </div>
                            </div>

                            <div class="col-12">
                                <%= f.label :city, class:"form-label"  %>
                                <%= f.text_field :city, class:"form-control bg-white", placeholder: "Your City",  :required => true %>
                                <div class="valid-feedback">
                                Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please enter your billing city address.
                                </div>

                            </div>

                            <div class="col-12">
                                <%= f.label :address_2, class:"form-label"  %>
                                <span class="text-muted">(Optional)</span>
                                <%= f.text_field :line2, class:"form-control bg-white", placeholder: "Apartment or suite" %>
                            </div>

                            <div class="col-md-5">
                                <%= f.label :country, class:"form-label"  %>
                                <%= f.country_select :country, {}, {iso_codes: true, class:"form-control bg-white"} %>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Please write a valid country.
                                </div>
                            </div>

                            <div class="col-md-4">
                                <%= f.label :state, class:"form-label"  %>
                                <%= f.text_field :state, class:"form-control bg-white", placeholder: "NCR" %>
                                <div class="invalid-feedback">
                                    Please provide a valid state.
                                </div>
                            </div>

                            <div class="col-md-3">
                                <%= f.label :postal_code, class:"form-label"  %>
                                <%= f.number_field :postal_code, class:"form-control bg-white", :required => true %>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Zip code required.
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <h4 class="mb-3">Payment</h4>

                        <div class="my-3">
                            <div class="form-check">
                                <%= f.radio_button :type, "card", class:"form-check-input", :required => true %>
                                <label for="type_card">
                                Credit card</label>
                            </div>
                            <div class="form-check">
                                <%= f.radio_button :type, "paymaya", class:"form-check-input", :required => true %>
                                <label for="type_paymaya">PayMaya</label>
                            </div>
                        </div>

                        <div class="row gy-3">
                            <div class="col-md-6">
                                <label for="cc-name" class="form-label">Name on card</label>
                                <input type="text" class="form-control bg-white" id="cc-name" placeholder="" required>
                                <small class="text-muted">Full name as displayed on card</small>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Name on card is required
                                </div>
                            </div>

                            <div class="col-md-6">
                                <%= f.label :card_number, class:"form-label" %>
                                <%= f.number_field :card_number, class:"form-control bg-white", :required => true %>
                                <small class="text-muted">Credit card number as displayed on card</small>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Credit card number is required
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div>
                                    <div>
                                        <%= f.label :exp_month, class:"form-label" %>
                                    </div>
                                    <div>
                                        <%= f.select :exp_month, 1..12, {}, class:"form-control bg-white", :required => true  %>
                                    </div>
                                </div>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Expiration month is required
                                </div>
                            </div>

                            <div class="col-md-3">
                                    <div>
                                        <div>
                                            <%= f.label :exp_year, class:"form-label" %>
                                        </div>
                                        <div>
                                            <%= f.select :exp_year, (Date.today.year-10)..(Date.today.year+10), 
                                            {},{class: "form-control bg-white", required: true, :selected => Time.current.year+1,}%>
                                        </div>
                                    </div>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                    <div class="invalid-feedback">
                                        Expiration year is required
                                    </div>
                            </div>

                            <div class="col-md-3">
                                <label for="cvc" class="form-label">CVC</label>
                                <%= f.number_field :cvc, input_html: { maxlength: 3 }, class:"form-control bg-white", :required => true %>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                                <div class="invalid-feedback">
                                    Security code is required
                                </div>
                            </div>
                        </div>

                        <hr class="my-4">

                        <%= f.submit 'Subscribe', class:"w-100 btn btn-primary btn-lg" %>
                    <% end %>
               
                    <button class="btn btn-lg btn-primary w-100 mt-3" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Choose Other Payment</button>
            </div>
        </div>
    </main>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2022 Huntr Clone</p>
        <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Privacy</a></li>
        <li class="list-inline-item"><a href="#">Terms</a></li>
        <li class="list-inline-item"><a href="#">Support</a></li>
        </ul>
    </footer>
</div>