<div class="col-lg-8 col-md-9 col-sm-10 mx-auto pb-5">
    <div class="">
        <%= button_to kanbans_path(kanban_id: @kanban), method: :get, class: "btn btn-sm button-style border mb-2" do %>
          <div>
            <i class="bi bi-kanban-fill"></i>
            Back to Board
          </div>
        <% end %>
    </div>

    <div class="card p-4">
        <div class="text-muted">Job Search Funnel</div>
        <%= column_chart @column_graph_data, empty: "no data available", label: "Jobs" %>
        <div class="mt-4 mb-1 text-muted">Conversion Rates</div>
        <div class="d-flex flex-row">
            <div class="card flex-grow-1 p-3 small text-center">
               Jobs Saved: <strong><%= @kanban.cards.count %></strong>
            </div>
            <div class="card flex-grow-1 p-3 small text-center">
               Applied: 
               <strong>
                    <%= @column_graph_data["APPLIED"] == 0 ? "0%" : "#{@kanban.cards.count / @column_graph_data["APPLIED"] * 100}%" %>
                </strong>
            </div>
            <div class="card flex-grow-1 p-3 small text-center">
                Interview:
                <strong>
                     <%= @column_graph_data["INTERVIEW"] == 0 ? "0%" : "#{@kanban.cards.count / @column_graph_data["INTERVIEW"] * 100}%" %>
                </strong>
            </div>
            <div class="card flex-grow-1 p-3 small text-center">
                Offer Received:
                <strong>
                    <%= @column_graph_data["OFFER RECEIVED"] == 0 ? "0%" : "#{@kanban.cards.count / @column_graph_data["OFFER RECEIVED"] * 100}%" %>
                </strong>
            </div>
        </div>
    </div>

    <div class="card p-4 table-wrap">
        <table class="table table-sm table-hover caption-top border">
            <caption>Jobs</caption>

            <thead class="table-primary">
                <tr>
                    <th>Title</th>
                    <th>Company</th>
                    <th>Created at</th>
                    <th>List</th>
                </tr>
            </thead>

            <tbody>
                <%if @jobs.any? %>
                    <% @jobs.each do |card| %>
                        <tr>
                            <td><%= card.job_title %></td>
                            <td><%= card.company %></td>
                            <td><%= card.created_at.strftime('%b %e, %Y') %></td>
                            <td><%= card.kanban_column.name %></td>
                        </tr>
                    <% end %>
                <% else %>
                    <tr>
                        <td colspan="4" class="text-muted text-center">no data available</td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>