<div class="navbar navbar-expand-sm navbar-light navbar-lewagon mb-5">
  <div class="container-fluid">
    <%= link_to ' huntrclone', root_path, class: "navbar-brand bi bi-search text-primary" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Kanbans", kanbans_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <h2 class="bi bi-person-circle text-primary mx-1" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></h2>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user.premium == true %>

              <p class="dropdown-item disabled">Premium User</p>

              <% else %>

                <a class="dropdown-item" data-bs-toggle="modal" href="#exampleModalToggle">Get Premium</a>
              
              <% end %>
              
              <%= link_to "Edit Profile", edit_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>