<%= simple_form_for [:kanban, :kanban_column, @card] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :content %>
    <%= f.input :position, input_html: {value: @kanban_column.cards.count} %>
    <%= f.select :kanban_column_id, @kanban.kanban_columns.map{|c|[c.name, c.id]} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>