<div class="col-lg-5 col-md-7 col-sm-9 mx-auto">
  <div class="card p-4">
    <h3>New Card</h3>

    <%= simple_form_for [@kanban, @kanban_column, @card], url: kanban_cards_path do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

      <div class="form-inputs mb-3">
        <%= f.input :content %>
        <%= f.select :kanban_column_id, 
          @kanban.kanban_columns.map{|c|[c.name, c.id]}, {selected: @kanban_column.id}, {class: 'form-select'} %>
      </div>

      <div class="form-actions d-flex mb-2">
        <%= f.button :submit, class: "btn btn-primary flex-fill" %>
      </div>
    <% end %>
    <%= link_to 'Back', @kanban, class: "fw-bold" %>
  </div>
</div>