<div>
    <%= link_to "Back to Card" , edit_kanban_kanban_column_card_url(@kanban.id, @kanban_column.id, @card.id) %>
    <%= link_to "New Activity" , new_kanban_kanban_column_card_activity_url(@kanban.id, @kanban_column.id, @card.id) %>
    <hr>
    <div>
        <h1>Activities</h1>
        <% @activities.each do |activity| %>
            <% if !activity.completed %>
                <%= form_with url: kanban_kanban_column_card_activity_path(@kanban.id, @kanban_column.id, @card.id, activity.id), method: :put do |f| %>
                    <%= check_box("activity", :completed, options = {checked: activity.completed, onchange: "this.form.submit()", id: "activity_#{activity.id}", class:""}) %>
                    <%= link_to edit_kanban_kanban_column_card_activity_path(@kanban.id, @kanban_column.id, @card.id, activity.id) do %>
                        <label><%=activity.title %> </label>
                    <% end %>
                    <p><%=activity.tag %></p>
                    <%= hidden_field_tag :from_activities, true %>
                <% end %>
            <%end%>
        <% end %>
    </div>
    <hr>
    <div>
        <p>Complete</p>
        <% @activities.each do |activity| %>
            <% if activity.completed %>
                <%= form_with url: kanban_kanban_column_card_activity_path(@kanban.id, @kanban_column.id, @card.id, activity.id), method: :put do |f| %>
                    <%= check_box("activity", :completed, options = {checked: activity.completed, onchange: "this.form.submit()", id: "activity_#{activity.id}", class:""}) %>
                    <%= link_to edit_kanban_kanban_column_card_activity_path(@kanban.id, @kanban_column.id, @card.id, activity.id) do %>
                        <label><%=activity.title %> </label>
                    <% end %>
                    <p><%=activity.tag %></p>
                    <%= hidden_field_tag :from_activities, true %>
                <% end %>
            <%end%>
        <% end %>
</div>