<div class ="row g-0">
  <div class="col-2">
    <div class="d-flex flex-column mt-n5 ms-n3 p-3 bg-light sidenav">
      <div class="d-flex justify-content-between">
        <strong class="px-2">My Boards:</strong>
        <%= link_to new_kanban_path, class: "link-dark new-board border rounded" do %>
          <div class="px-2">+</div>
        <% end %>
      </div>
      <hr>
      <ul class="list-group">
       <% @kanbans.each_with_index do |kanban, index| %>
            <%= link_to kanbans_path(kanban_id: kanban), class: "text-decoration-none fw-bold" do %>
            <li class="sidenav-item small list-group-item list-group-item-action <%=
              if params[:kanban_id].nil? && index == 0
                "list-group-item-primary"
              elsif kanban.id == params[:kanban_id].to_i
                "list-group-item-primary"
              end
            %>">
              <div>
                <%= kanban.name %>
              </div>
              <div>
                <%= link_to '', edit_kanban_path(kanban), class: "bi bi-pencil-square" %>
                <%= link_to '', kanban, method: :delete, data: { confirm: 'Are you sure?' }, class: "bi bi-trash-fill text-danger ps-1" %>
              </div>
            </li>
            <%end%>
        <% end %>
      </ul>
    </div>
  </div>

  <% if @kanban %>
    <div class="col-10">
      <%= render @kanban %>
    </div>
  <% end %>
</div>